# Ignore the target directory in the root of the project
/target/

# Ignore any target directories in subdirectories
**/target/

# Dependency directory
**/Cargo.lock

# These directories can contain user-specific configuration, build artifacts, etc
/.idea/
.vscode/

# Backup files
*.bak

# Other files and directories to ignore
*.o
*.lo
*.la
.env


# Dependency management directories
node_modules/
package-lock.json
package.json


.DS_Store
.venv
/coq_of_assistants/_build/
